Html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    font-family: "Montserrat", sans-serif;
    display: block;
    max-width: 1000px;
    margin: auto;
    background-color: #eeee;
}
