.taskList {
    border-style: none;
    background-color: white;
    padding: 20px;
}

.taskList__listItem--done {
    text-decoration: line-through;
}

.taskList__listItem--hideDone {
    display: none;
}

.taskList__listItem {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    border-bottom: solid #eee 1px;
    padding: 10px;
}

.taskList__button {
    padding: 10px;
    margin: 0px 10px;
    border-style: none;
    width: 30px;
    height: 30px;
}

.taskList__button--remove {
    background-image: url(../images/delete.png);
    background-color: crimson;
    background-size: contain;
    background-position: center;
    transition: 1s;
}

.taskList__button--remove:hover {
    background-color: hsl(348, 83%, 57%);
}

.taskList__button--done {
    background-color: green;
    margin: 20px;
    color: white;
    transition: 1s;
}

.taskList__button--done:hover {
    background-color: hsl(120, 100%, 35%);
}

.tasksList__list {
    list-style: none;
    padding-left: 0px;
    border-bottom: #eee 2px;
}

.taskList__button--header {
    color: teal;
    background-color: white;
    border: none;
    transition: 0s;
}

.taskList__button--header:hover {
    color: hsl(180, 100%, 35%);
}

.taskList__header {
    display: grid;
    grid-template-columns: 1fr auto auto;
}

@media (max-width: 768px) {
    .taskList__header {
        grid-template-columns: 1fr;
    }
}
